<ion-header class="ion-no-border" >
  <ion-toolbar >
    <div class="mci-toolbar-with-string" (click)="goBack();"> 
      <ion-icon name="chevron-back-outline" class="mci_icon_back"></ion-icon>
      <p>Back</p>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="mci_no_scroll">
  <div class="content_form_input_no_absolute mci_find_job">
    <IonItem>
      <IonLabel><span class="mci_label_bold_big">Job Title</span></IonLabel>
     <ion-input  [(ngModel)]="job_title_input" type="text" style="padding-left: 6px !important;"></ion-input>
    </IonItem>
    <br *ngIf="!  free_user"/>
    <IonItem *ngIf="!  free_user">
      <IonLabel><span class="mci_label_bold_big">Type Of Pass </span></IonLabel>
      <ion-select   okText="OK" cancelText="Close"  multiple={true} [(ngModel)]="type_of_pass_input" style="margin-top: 7px;padding-right: 10px;" required>
        <ion-select-option [value]="top.name" *ngFor="let top of list_type_off_pass;">{{top.name}}</ion-select-option>
      </ion-select>
    </IonItem>
    <br/>
    <ion-button (click)="check_search(); " shape="round" size="large" >Find Jobs</ion-button>

  </div>
  <div class="main_content" *ngIf="search_check && !listjob.length" style="margin-top: 32px;">
    <div class="div_well_notif_oa">
      <p> Search not found</p>
    </div>
  </div>
  <div class="main_content" *ngIf="search_check && listjob.length">
    <p class="mci_p_content_title">{{count_job}} Jobs Found</p>
    <ion-button  shape="round" size="small" class="icon_create" *ngIf="type_login=='employee'"> <ion-icon name="create"></ion-icon> Create</ion-button>
    <div class="mci_job_list" >
      <div class="mci_content_job" *ngFor="let job of listjob;">
            <ion-row>
              <ion-col class="col-2 text-center job_list_icon" size="1" size-sm="1" size-md="1" size-lg="1">
              </ion-col>
              <ion-col class="col-8" size="9" size-sm="9" size-md="9" size-lg="9" (click)="detail_form(job.id)">
                <p class="mci_name_job">{{job.position}}</p>
                  <p class="mci_name_company">{{job.company_name}}</p>
                <div *ngIf="!free_user">
                  <p class="mci_address mci_mt_7px font_extrabold">Requirements :</p> 
                  <p class="mci_address" *ngIf="job.qualification">Qualification : {{job.qualification}}</p> 
                  <p class="mci_address" *ngIf="job.years_of_experience">Years of Experience : {{job.years_of_experience}}</p> 
                  <p class="mci_address" *ngIf="job.type_of_skill">Type Of Skills : {{job.type_of_skill}}</p> 
                  <p class="mci_address" *ngIf="job.type_of_pass">Type Of Pass : {{job.type_of_pass}}</p> 
                  <p class="mci_address" *ngIf="job.driving_licence">Driving Licence : {{job.driving_licence}}</p> 
              </div>
              <p class="mci_address mci_mt_7px font_extrabold">Locations :</p> 
              <p class="mci_address">{{job.work_location}}</p> 
              <p class="mci_address">{{job.nationality}}</p> 
              <p class="range_salary mci_mt_12px" *ngIf="!free_user">${{job.gross_salary_from}} - ${{job.gross_salary_to}}</p>
              <div *ngIf="free_user" class="free_user_lock">
                    <p>You need to activate as Member to apply this Job.</p>
                  </div>
              </ion-col>
              <ion-col class="col-2" size="2" size-sm="2" size-md="2" size-lg="2">
                <ion-icon class="bookmark" [name]="job.saved ? 'bookmark' :'bookmark-outline'" *ngIf="type_login=='candidate'" (click)="saved_job(job)"></ion-icon>
                <ion-button  shape="round" size="small" class="icon_delete" *ngIf="type_login=='employee'"> <ion-icon name="trash"></ion-icon></ion-button>
                <!-- <ion-icon name="bookmark" class="bookmark"></ion-icon> -->
                <p class="info_date_job">10 Minutes Ago</p>
              </ion-col>
            </ion-row>
          </div>
    </div>
  </div>
<div class="div_share_fixed" (click)="sharewa();">
          <ion-icon name="share-social-outline" (click)="sharewa();"></ion-icon>
        </div>
</ion-content>



<ion-footer-bar class="ion-no-border mci-footer-bar">
    <ion-row align-items-center>

        <ion-col class="ion-no-padding col-3 text-center">
            <button ion-button icon-only onclick="location.href='/homehome'">
                <ion-icon name="home"></ion-icon>
                <p style="margin:0px;">Home</p>
            </button>
        </ion-col>

        <ion-col class="ion-no-padding col-3 text-center" *ngIf="type_login">
            <button ion-button icon-only onclick="location.href='/list-job;state=job_listing'">
                 <ion-icon name="briefcase"></ion-icon>
                <p style="margin:0px;">Jobs</p>
            </button>
        </ion-col>


        <ion-col class="ion-no-padding col-3 text-center" *ngIf="!  type_login">
            <button ion-button icon-only onclick="location.href='/login'">
                <ion-icon name="person"></ion-icon>
               <p style="margin:0px;">Sign In</p>
            </button>
        </ion-col>
        <ion-col class="ion-no-padding col-3 text-center" *ngIf="!  type_login">
            <button ion-button icon-only onclick="location.href='/signup'">
                 <ion-icon name="person-add"></ion-icon>
                <p style="margin:0px;">Sign Up</p>
            </button>
        </ion-col>

        <!-- /////////////EMPLOYEEEEEEEEEEEEEEEE////////////////////// -->
        <ion-col class="ion-no-padding col-3 text-center" *ngIf="type_login=='employee'">
            <button ion-button icon-only onclick="location.href='/list-candidate'">
                 <ion-icon name="people"></ion-icon>
                <p style="margin:0px;">Candidate</p>
            </button>
        </ion-col>
         <!-- /////////////EMPLOYEEEEEEEEEEEEEEEE////////////////////// -->

         <!-- /////////////CANDIDATE////////////////////// -->
<!--         <ion-col class="ion-no-padding col-3 text-center" *ngIf="type_login=='candidate'">
            <button ion-button icon-only onclick="location.href='/list-job;state=job_applied'">
                <ion-icon name="briefcase"></ion-icon>
                <p style="margin:0px;">My Jobs</p>
            </button>
        </ion-col> -->
         <!-- /////////////CANDIDATE////////////////////// -->

        <ion-col class="ion-no-padding col-3 text-center" *ngIf="type_login">
            <button ion-button icon-only (click)="openchat();">
                 <ion-icon name="chatbubble-outline"></ion-icon>
                <p style="margin:0px;">Chats</p>
            </button>
        </ion-col>

        <ion-col class="ion-no-padding col-3 text-center" *ngIf="type_login">
            <button ion-button icon-only onclick="location.href='/my-account'">
                 <ion-icon name="person"></ion-icon>
                <p style="margin:0px;">My Account</p>
            </button>
        </ion-col>


<!--         <ion-col class="ion-no-padding col-3 text-center" *ngIf="type_login">
            <button ion-button icon-only (click)="logout(); ">
                  <ion-icon name="log-out"></ion-icon>
                <p style="margin:0px;">Log Out</p>
            </button>
        </ion-col> -->
    </ion-row>
    <div>
        <hr/>
    </div>
</ion-footer-bar>