<ion-header class="ion-no-border" >
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" class="mci_icon_back" (click)="goBack();"></ion-icon>
    <ion-icon name="home" class="mci_icon_back mci_icon_home" onclick="location.href='/homehome'"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="title_header_content">
  	<p>Confirm<br/>
  	Email</p>
  	<hr/>
  </div>
  <div class="content_form_input" id="container">
     <p style="text-align:center;font-size:12px;"> Let us know your registered email address and we'll send you password reset intruction</p>
  	<ion-item class="ion-no-padding"><ion-input placeholder="Email" type="text"></ion-input></ion-item>

  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <p class="mci_name_page">Forgot Password</p>
  <div class="icon_next_circle">
     <ion-icon name="arrow-forward"></ion-icon>
  </div>
  <div class="box_footer">
  	<a href="/login">Login</a>
    <a  href="/signup" style="float:right;">Sign Up</a>
  </div>
  <div class="mci-footer-bar">
      <ion-row align-items-center>

        <ion-col class="ion-no-padding col-3 text-center">
            <button ion-button icon-only onclick="location.href='/homehome'">
                <ion-icon name="home"></ion-icon>
                <p style="margin:0px;">Home</p>
            </button>
        </ion-col>

        <ion-col class="ion-no-padding col-3 text-center" *ngIf="type_login">
            <button ion-button icon-only onclick="location.href='/list-job'">
                 <ion-icon name="briefcase"></ion-icon>
                <p style="margin:0px;">Jobs</p>
            </button>
        </ion-col>


        <ion-col class="ion-no-padding col-3 text-center" *ngIf="!  type_login">
            <button ion-button icon-only onclick="location.href='/login'">
                <ion-icon name="person"></ion-icon>
                <p style="margin:0px;">Sign In</p>
            </button>
        </ion-col>
        <ion-col class="ion-no-padding col-3 text-center" *ngIf="!  type_login">
            <button ion-button icon-only onclick="location.href='/signup'" >
                 <ion-icon name="person-add"></ion-icon>
                <p style="margin:0px;">Sign Up</p>
            </button>
        </ion-col>

        <!-- /////////////EMPLOYEEEEEEEEEEEEEEEE////////////////////// -->
        <ion-col class="ion-no-padding col-3 text-center" *ngIf="type_login=='employee'">
            <button ion-button icon-only onclick="location.href='/list-candidate'">
                 <ion-icon name="people"></ion-icon>
                <p style="margin:0px;">Candidate</p>
            </button>
        </ion-col>
         <!-- /////////////EMPLOYEEEEEEEEEEEEEEEE////////////////////// -->

         <!-- /////////////CANDIDATE////////////////////// -->
        <ion-col class="ion-no-padding col-3 text-center" *ngIf="type_login=='candidate'">
            <button ion-button icon-only onclick="location.href='/find-job'">
                <ion-icon name="search"></ion-icon>
                <p style="margin:0px;">Search</p>
            </button>
        </ion-col>
         <!-- /////////////CANDIDATE////////////////////// -->



        <ion-col class="ion-no-padding col-3 text-center" *ngIf="type_login">
            <button ion-button icon-only onclick="location.href='/my-account'">
                 <ion-icon name="person"></ion-icon>
                <p style="margin:0px;">My Account</p>
            </button>
        </ion-col>
        <ion-col class="ion-no-padding col-3 text-center" *ngIf="type_login">
            <button ion-button icon-only (click)="logout(); ">
                  <ion-icon name="log-out"></ion-icon>
                <p style="margin:0px;">Log Out</p>
            </button>
        </ion-col>
    </ion-row>
    <div>
      <hr/>
    </div>
  </div>
</ion-footer>
