<ion-header class="ion-no-border" >
  <ion-toolbar >
    <div class="mci-toolbar-with-string"> 
      <ion-icon name="chevron-back-outline" class="mci_icon_back" (click)="goBack();"></ion-icon>
      <p (click)="goBack();">Back</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div class="notif_succes_apply">
		<ion-icon name="checkmark-done-circle-outline"></ion-icon>
		<p class="p1">You've sent your application</p>
		<p class="p2">Well done, you've sent your job application to this company.</p>
	</div>

<div class="div_share_fixed" (click)="sharewa();">
          <ion-icon name="share-social-outline" (click)="sharewa();"></ion-icon>
        </div>
        
</ion-content>


<ion-footer-bar class="ion-no-border mci-footer-bar">
    <ion-row align-items-center>

        <ion-col class="ion-no-padding col-3 text-center">
            <button ion-button icon-only onclick="location.href='/homehome'">
                <ion-icon name="home"></ion-icon>
                <p style="margin:0px;">Home</p>
            </button>
        </ion-col>

        <ion-col class="ion-no-padding col-3 text-center" *ngIf="type_login">
            <button ion-button icon-only onclick="location.href='/list-job;state=job_listing'">
                 <ion-icon name="briefcase"></ion-icon>
                <p style="margin:0px;">Jobs</p>
            </button>
        </ion-col>


        <ion-col class="ion-no-padding col-3 text-center" *ngIf="!  type_login">
            <button ion-button icon-only onclick="location.href='/login'">
                <ion-icon name="person"></ion-icon>
               <p style="margin:0px;">Sign In</p>
            </button>
        </ion-col>
        <ion-col class="ion-no-padding col-3 text-center" *ngIf="!  type_login">
            <button ion-button icon-only onclick="location.href='/signup'">
                 <ion-icon name="person-add"></ion-icon>
                <p style="margin:0px;">Sign Up</p>
            </button>
        </ion-col>

        <!-- /////////////EMPLOYEEEEEEEEEEEEEEEE////////////////////// -->
        <ion-col class="ion-no-padding col-3 text-center" *ngIf="type_login=='employee'">
            <button ion-button icon-only onclick="location.href='/list-candidate'">
                 <ion-icon name="people"></ion-icon>
                <p style="margin:0px;">Candidate</p>
            </button>
        </ion-col>
         <!-- /////////////EMPLOYEEEEEEEEEEEEEEEE////////////////////// -->

         <!-- /////////////CANDIDATE////////////////////// -->
   <!--      <ion-col class="ion-no-padding col-3 text-center" *ngIf="type_login=='candidate'">
            <button ion-button icon-only onclick="location.href='/list-job;state=job_applied'">
                <ion-icon name="briefcase"></ion-icon>
                <p style="margin:0px;">My Jobs</p>
            </button>
        </ion-col> -->
         <!-- /////////////CANDIDATE////////////////////// -->

        <ion-col class="ion-no-padding col-3 text-center" *ngIf="type_login">
            <button ion-button icon-only (click)="openchat();">
                 <ion-icon name="chatbubble-outline"></ion-icon>
                <p style="margin:0px;">Chats</p>
            </button>
        </ion-col>

        <ion-col class="ion-no-padding col-3 text-center" *ngIf="type_login">
            <button ion-button icon-only onclick="location.href='/my-account'">
                 <ion-icon name="person"></ion-icon>
                <p style="margin:0px;">My Account</p>
            </button>
        </ion-col>


<!--         <ion-col class="ion-no-padding col-3 text-center" *ngIf="type_login">
            <button ion-button icon-only (click)="logout(); ">
                  <ion-icon name="log-out"></ion-icon>
                <p style="margin:0px;">Log Out</p>
            </button>
        </ion-col> -->
    </ion-row>
    <div>
        <hr/>
    </div>
</ion-footer-bar>
